<div class="container">

  <div class="row">
    <div class="col-2 ml-5">

    <div class="mt-5 mb-5 bg-light text-dark text-center">
      <h5><strong>会員一覧</strong></h5>
    </div>

    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-10">

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <th><%= customer.id %></th>
            <th><%= link_to customer.full_name, admin_customer_path(customer.id), class: "link text-dark" %></th>
            <th><%= customer.email %></th>
            <th>
              <% if customer.is_deleted %>
                <p class="text-secondary">退会</p>
              <% else %>
                <p class="text-success">有効</p>
              <% end %>
            </th>
          </tr>
          <% end %>

        </tbody>
      </table>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="mx-auto">
      <%= paginate @customers %>
    </div>
  </div>

</div>